body{

    background-color: rgb(149, 216, 243);

    padding-left: 20px;    
}

.name{
  padding-right: 20%;
  text-align: center; 
}
 
 

.grid-container {
    display: grid;
    height: 150px;
    align-content: center;
    grid-template-columns: auto auto auto auto;
    gap: 5px;
    background-color:  rgb(149, 216, 243);
    padding: 10px;
  }
  
  .grid-container >  div {
    background-color:  rgb(149, 216, 243);
    text-align: center;
    padding: 10px 0;
    font-size: 17px;
  }

  .grid-container1 {
    display: grid;
    height: 100px;
    align-content: center;
    grid-template-columns: auto auto auto auto;
    gap: 5px;
    background-color: rgb(149, 216, 243);
    padding: 10px;
  }

  .grid-container1 > div {
    background-color: rgb(217, 247, 247);;
    text-align: center;
    padding: 10px 0;
    font-size: 17px;
  }



  .social-link{
    font-size: larger;
    padding-left: 1px;
    display: flex;  
    list-style: none;
     
    
  }

.social > a{
   color: rgb(4, 4, 212);
    margin: 10px;
    text-decoration: none;
    
     
  }
  .connection{

    font-size: 20px;
  }
   